.tableContainer{
  background-color:  #794D4A;
  border: 1px solid black ;
    height: 100%;
    width: 80rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    align-items: center;
    justify-items: center;

    @media print{
       *{
        visibility: hidden;
      }
      .printcontainer, .printcontainer *{
          visibility: visible;
      }

      .printcontainer{
        position: absolute;
        left: 0;
        top: 0;
      }

      .deleteTable{
        visibility: hidden;
      }

      .print{
        visibility: visible;
      }
  }

    ul{
      margin-top: 1rem;
      margin-left: 1.5rem;
      display: grid;
        grid-template-columns: 38rem 38rem;
        gap: 1rem;

        div.print{
          display: none;
        }
    }

    button{
      background-color: #DA3C30;
    }

    div.Row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    button.newTables{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

div.QRCode{
    width: 256px;
    height: 256px;
    background-color: white;
    margin: auto;
    margin-bottom: 1rem;
    align-items: center;
    justify-items: center;

}
    
h1.title{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

}