.loginContainer{
    height: 30rem;
    width: 30rem;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    align-items: center;
    justify-items: center;

    img {
        height: 5rem;
        margin-bottom: 2rem;
        margin-left: 13rem;
        margin-top: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        input {
            width: 70%;
            border: 0;
            border-radius: 2rem;
            padding: 1rem 1rem;
            margin-bottom: 2rem;
        }
    
    }

    label {
        margin-right: 2rem;
        margin-left: 2rem;
        cursor: pointer;
        font-family: 'Shippori Antique B1', sans-serif;
    }

    button {
        color: #fff;
        height: 2.5rem;
        width: 9rem;
        font-size: 1.1rem;
        border-radius: 1rem;
        background-color: #DBC65B;
        border: 0;
        margin-bottom: 1rem;
        font-family: 'Shippori Antique B1', sans-serif;
        transition: transform 0.5s ease;
    }
    button:hover {
        animation-fill-mode: none;
        cursor: pointer;
        visibility: visible;
        transform: scale(1.1);
        background-color: #D4BF59;
        transition-duration: 0.5s;
    }
    button:disabled {
        background-image: url("../../assets/loadingButton.gif");
        background-size: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        transition-duration: 0.5s;
    }
}