.reportsContainer{
    display: flex;

}

.graphics {
    width: 35rem;
    height: 10%;
    margin-left: 5rem;

    .graphicsPie {
        width: 20rem;
        height: 10%;
        margin: auto;
        margin-top: -1rem;
        margin-bottom: -1.5rem;
    }
}

