.signUpContainer{
    div.collumn{
        display: flex;
        flex-direction: column;
        height: 40rem;
        width: 60rem;
        
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
        border-radius: 1rem;
    
        align-items: center;
        justify-items: center;
    }

    div.row{
        display: flex;
        flex-direction: row;
    }

    img {
        height: 5rem;
        margin-bottom: 1rem;
    }

    p {
        font: 500 2rem Arial;
        margin-bottom: 1rem;
        margin-right: 10rem;
        margin-left: 10rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;

        input {
            height: 1rem;
            width: 25rem;
            border: 0;
            border-radius: 2rem;
            padding: 1rem 1rem;
            margin-bottom: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        button {
            color: #fff;
            height: 2.5rem;
            width: 9rem;
            font-size: 1.1rem;
            border-radius: 1rem;
            background-color: #DBC65B;
            border: 0;
            margin-bottom: 1rem;
            font-family: 'Shippori Antique B1', sans-serif;
            transition: transform 0.5s ease;
        }
        button:hover {
            animation-fill-mode: none;
            cursor: pointer;
            visibility: visible;
            transform: scale(1.1);
            background-color: #D4BF59;
            transition-duration: 0.5s;
        }
    
    }

    label {
        cursor: pointer;
        margin-right: 13rem;
        margin-left: 14rem;
        font-family: 'Shippori Antique B1', sans-serif;
    }
}

.row{
    flex-direction: row;

}