* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: content-box;
    border: none;
}

:root {

    --white: #FFF;
    --black: #000000;

    --brownTop: #DE4929;
    --brownDown: #BF7245;
    --brownButton: #592727;

}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;// 15px
    }
}

@media(max-width: 720px){
    html{
        font-size: 87.5%;// 14px
    }
}

html, body, #root {
    min-height: 100%;
}

html{
    background-image: url("assets/background3.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body,input,textarea{
    font: 500 1rem Arial;
    color: var(--black);
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

button {
    color: #fff;
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: #DBC65B;
    opacity: 1;
    cursor: pointer;
}