.tableContainer{
    height: 100%;
    width: 40rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    align-items: center;
    justify-items: center;

    button.newEmployee{
        margin-left: 15rem;
    }

    ul.foodList{
        justify-content: center;
        display: grid;
        grid-template-columns: 18rem 18rem;
        gap: 1rem;
        background: #BF7245;
        border-radius: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    
}