.tableContainer{
    height: 100%;
    width: 40rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;

    align-items: center;
    justify-items: center;

    button.newEmployee{
        margin-left: 15rem;
    }

    ul.foodList{
        justify-content: center;
        text-align: center;
        color: white;
        display: grid;
        grid-template-columns: 18rem 18rem;
        gap: 1rem;
        background-color:  #794D4A;
        border: 1px solid black ;
        border-radius: 1rem;
        padding: 1rem 2rem 1rem 1rem;
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

strong.phone{
    grid-column: 2;
    grid-row: 1;
}

strong.email{
    grid-column: 1 / 3;
    grid-row: 2;
}
    button.button1{
        background-color: #DA3C30;
        margin: auto;
    
}
button.button2{
    background-color: #DA3C30;
    margin: auto;

}
}